.path-admin-report-advuserbulk .selectcourses td {
    border: none;
}

.path-admin-report-advuserbulk #buttonscell #addcontrols {
    height: 13em;
    margin-top: 3em;
}

.path-admin-report-advuserbulk .selectcourses #existingcell,
.path-admin-report-advuserbulk .selectcourses #potentialcell {
    width: 40%;
}

.path-admin-report-advuserbulk #buttonscell {
    text-align: center;
}

.path-admin-report-advuserbulk .selectcourses select {
    width: 100%;
}
